.back {
    padding: 10px;
    background-color: #c3e970;
    border: 3px solid #014725;
    color: #014725;
    width: 90px;
    border-radius: 10px;
    margin-left: 50px;
}

.back a {
    text-decoration: none;
    color: #014725;
    font-weight: 600;
}

.gallery {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.story {
    padding: 0px 30px;
}

.galleryImage {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-gallery {
    width: 600px;
}

.pupContainer {
    margin: 40px 0px;
    background-color: white;
    border: 3px solid #014725;
    margin: 10px 50px;
}

.dogStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    width: 30%;
}

.age {
    text-align: left;
}